body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.navigation-bar .logo img {
  height: 40px;
  width: auto;
}
#Logo {
  float: left;
  margin-left: 80px;
}
.navigation-bar ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  padding-right: 90px;
  background-color: #13b6fc;
}
.navigation-bar li {
  float: right;
}
.navigation-bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 35px;
  text-decoration: none;
}
.navigation-bar li a:hover {
  background-color: #a9c47a;
}

#first-page {
  height: 100vh;
  width: 100%;
  padding-bottom: 50px;
}
.first-page-container {
  display: flex;
  padding: 30px;
  margin-top: -55px;
}
.first-left {
  padding: 50px;
  padding-left: 60px;
}
h1 {
  color: #575757;
  font-size: 50px;
  padding-top: 50px;
}
#span1 {
  color: #13b6fc;
}
#span2 {
  color: #a9c47a;
}
#paragraph {
  font-size: 20px;
  color: #575757;
}
#button1 {
  background-image: linear-gradient(to right, #13b6fc, #a9c47a);
  padding: 17px 40px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  color: #fff;
  margin-top: 30px;
  box-shadow: 1px 1px 10px gray;
}
#button1:hover {
  background-image: linear-gradient(to left, #13b6fc, #a9c47a);
  box-shadow: 1px 1px 10px #00ff00;
  cursor: pointer;
  color: white;
}
.first-right {
  width: 50%;
}
.first-right img {
  padding: 30px;
  height: 40%;
  width: auto;
}

#second-page {
  background-image: url(Images/Background/Background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.second-page-container {
  display: flex;
}
.second-left {
  width: 50%;
}
.second-left img {
  padding: 60px;
  height: 35%;
  width: auto;
}
.second-right {
  width: 50%;
  padding: 60px;
}
#second-paragraph {
  color: #000;
  font-size: 20px;
  text-align: justify;
}
#button2 {
  background-image: linear-gradient(to right, #7a74e0, #2117c9);
  padding: 17px 40px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  border: none;
  color: #fff;
  margin-top: 40px;
  box-shadow: 1px 1px 10px gray;
}
#button2:hover {
  background-image: linear-gradient(to left, #7a74e0, #2117c9);
  box-shadow: 5px 5px 30px #00f;
  cursor: pointer;
  color: white;
}

#third-page {
  height: 210vh;
  width: 100%;
}
.third-page-intro {
  text-align: center;
}
.third-page-intro h1 {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  width: 30%;
  padding: 15px;
  border-radius: 20px;
  border: 2px solid blue;
  box-shadow: 1px 1px 30px blue;
}
.third-page-intro p {
  padding-left: 20%;
  padding-right: 20%;
  font-size: 18px;
}
.first-recipe,
.second-recipe {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}
.recipe {
  height: 450px;
  width: 25%;
  margin: 50px;
  border-radius: 24px;
  box-shadow: 1px 1px 20px #aeaeae;
}
.recipe:hover {
  box-shadow: 1px 1px 20px blue;
}
.recipe img {
  padding: 15px;
  height: 190px;
  width: 100%;
  max-width: 250px;
}
.second {
  margin-top: -5px;
}
.food-image {
  display: flex;
  justify-content: center;
}
.second img {
  height: 200px;
  width: 254px;
  border-radius: 30px;
}
.descriprion {
  padding: 20px;
  text-align: justify;
}
h3 {
  margin-top: -10px;
}

#forth-page {
  background-image: url(Images/Project-Cover/Project-Cover.png);
  background-size: cover;
  height: 60vh;
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center img {
  height: 60vh;
  width: auto;
}
.information {
  display: flex;
  justify-content: space-around;
  background-color: white;
  text-align: center;
  width: 50%;
  margin-left: 12%;
  border-radius: 20px;
  box-shadow: 15px 15px 50px black;
}
.information h2 {
  font-size: 35px;
}
.information p {
  margin-top: -20px;
  color: #0b0d17;
  font-weight: 600;
}

#fifth-page {
  height: 60vh;
  margin: 60px;
}
.contact-section {
  display: flex;
  justify-content: center;
}
.email-section {
  display: flex;
  background-image: url(Images/Background/Background2.jpg);
  background-size: cover;
  height: 60vh;
  width: 100%;
  text-align: center;
  border-radius: 35px;
  padding-left: 70px;
  box-shadow: 1px 1px 20px #388eff;
}
.email-section img {
  height: 370px;
  width: auto;
}
.contact-info {
  padding-left: 70px;
}
.email-section h1 {
  color: #0b0d17;
}
.email-section h2 {
  font-size: 35px;
  color: blue;
  margin-top: -15px;
  margin-bottom: 60px;
}
.email-section .btn {
  background-image: linear-gradient(to top, blue, skyblue);
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.email-section .btn:hover {
  background-image: linear-gradient(to top, #000087, #25c1ff);
}

#sixth-page {
  height: 60vh;
  display: flex;
  justify-content: center;
}
.video-section {
  display: flex;
  justify-content: space-around;
  width: 91%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px #388eff;
}
.text-video {
  display: flex;
  align-items: center;
}
.text-video span {
  font-size: 50px;
  color: #575757;
}
.video {
  display: flex;
  align-items: center;
}
.video iframe {
  border-radius: 20px;
  border: none;
}

#last-page {
  background-color: #0b0d17;
  height: 30vh;
}
.footer {
  text-align: center;
}
.footer h1 {
  color: #565657;
}
.footer span {
  color: #13b6fc;
  margin-right: 20px;
}
.footer p {
  color: #575757;
  font-weight: 500;
  margin-top: -30px;
}
.footer small {
  color: white;
}
